name: Release Mod

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Validate Gradle Wrapper
        uses: gradle/wrapper-validation-action@v1

      - name: Setup JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Make Gradle Executable
        run: chmod +x ./gradlew

      - name: Build with Gradle
        uses: gradle/actions/setup-gradle@v3
        with:
          arguments: build
        env:
          # Overrides 'mod_version' in gradle.properties with the tag name (e.g., v1.1.8)
          ORG_GRADLE_PROJECT_mod_version: ${{ github.ref_name }}

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          # Automatically grabs the change log from the tag message or generates a clean default
          generate_release_notes: true
          files: |
            build/libs/*.jar
            !build/libs/*-sources.jar